h1{
    padding-top: 20px;
    text-align: center;
    /* margin: 20px; */
}
label{
    padding: 5px;
}
span{
    padding-top: 5px;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    align-self: center;
    align-content: center;
}